
<h1>Languages</h1>

<table class=" table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Language type</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td><%= language.language_type %></td>
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Code Snippets',  language_code_snippets_path(language) %></td>
         <td><%= link_to 'Learning Resources',  language_learning_resources_path(language) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Language', new_language_path , class:"btn btn-dark active"%>
