
<h1>Learning Resources</h1>

<table class=" table table-striped table-hover table-bordered">
  <thead class="thead-dark">
  
    <tr>
      <th>Learning Resources</th>
      <th>Accessed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learning_resources.each do |learning_resource| %>
      <tr>
        <td><%= learning_resource.reference %></td>
        <td><%= learning_resource.accessed %></td>
        <td><%= link_to 'Show', [@language,learning_resource] %></td>
        <td><%= link_to 'Edit', edit_language_learning_resource_path(@language,learning_resource) %></td>
        <td><%= link_to 'Destroy', [@language,learning_resource], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learning Resource', new_language_learning_resource_path(@language),  class:"btn btn-dark active" %>
