<%= form_with(model: code_snippet, local: true, url: [@language,code_snippet]) do |form| %>
  <% if code_snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(code_snippet.errors.count, "error") %> prohibited this code_snippet from being saved:</h2>

      <ul>
        <% code_snippet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_area :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
