<h1>Code Snippets</h1>

<table class=" table table-striped table-hover table-bordered">
  <thead class="thead-dark">
  
    <tr>
      <th>Code Snippets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_snippets.each do |code_snippet| %>
      <tr>
        <td><%= code_snippet.code %></td>
        <td><%= link_to 'Show', language_code_snippet_path(@language,code_snippet) %></td>
        <td><%= link_to 'Edit', edit_language_code_snippet_path(@language,code_snippet) %></td>
        <td><%= link_to 'Destroy', language_code_snippet_path(@language,code_snippet), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', languages_path, class:"btn btn-dark active" %>
<%= link_to 'Add Code Snippet', new_language_code_snippet_path, class:"btn btn-secondary active" %>
