<h1>User Certificates for: <%= @certification.name %></h1>
<%= form_with url: "/user_certification", method: :post do %>
<table>
  <thead>
   <tr>
     <th>Students</th>
     <th>Grades</th>
   </tr>
  </thead>
  <tbody>
    <% User.students.each do |user|%>
     <tr>
      <td> <%= user.email%> </td>
      <td> <%= select(:user, user.id, [["",0],["A", 5],["B",4],["C", 3],["D",2],["F",1]])%> </td>
     </tr>
     <% end %>
  </tbody>
</table>
<%= submit_tag "Update Grades" %>
<% end %>