<h1>Available Certifications</h1>

<table class=" table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Programming Language</th>
      <th>Display Certificate</th>
      <th>Update Certificate</th>
      <th>Update User Certifications</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= certification.name %></td>
        <td><%= link_to 'Show', certification %></td>
        <td><%= link_to 'Edit Certificate', edit_certification_path(certification) %></td>
        <td><%= link_to 'Edit User Certifications', certification_edit_certifications_path(certification) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Certification', new_certification_path,class:"btn btn-secondary active"%>


