<!DOCTYPE html>
<html>
  <head>
    <title>OnlineCodingGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render partial: "partials/login_status"%>
    <%=link_to 'Main Page', root_path%>
    <%=link_to 'Certified Students Page', certified_students_path%>
    <% if current_user && current_user.lecturer %>
      <%=link_to 'Certifications Page', certifications_path%> 
    <% end %>
    <%=render partial: "partials/status_messages"%>
    <%= yield %>
  </body>
</html>
