<!DOCTYPE html>
<html>
  <head>
    <title>OnlineCodingGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in?%>
    <h1>You are signed in!</h1>
    <%else%>
    <h1>You are not signed in!</h1>
    <%end%>
    <h1>Hello World</h1>
    <%= yield %>
  </body>
</html>
